<body>
    <!-- <div>
    <img class="img-responsive" src="../../assets/photo/image.jpg">
</div> -->
<div class="img">
  <div class="logo"><img class="img-responsive" src="../../assets/photo/final.png"></div><br><br>
  <b> <h1>BIENVENUE SUR NOTRE SITE DE LOCTION DE <br>VEHICULES EN LIGNE </h1></b>
    
  </div><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

  

  <div class="tasks">

    <div class="task">
      <h2>À propos de CAMauto</h2>
      <p>CAMauto est un leader de la location de véhicules en ligne, offrant une expérience de location pratique et fiable depuis année de fondation. Nous sommes fiers de servir nos clients avec excellence et de leur fournir des solutions de déplacement adaptées à leurs besoins.</p>

    </div>
    <div class="task">
      <h2>Nos Valeurs</h2>
      <p>Chez CAMauto, nous croyons en :

        L'excellence du service client : Nous nous engageons à fournir un service client exceptionnel à chaque étape de votre expérience de location.
        La transparence et l'intégrité : Nous croyons en la transparence et en l'honnêteté dans toutes nos interactions avec nos clients.
        L'innovation et l'amélioration continue : Nous nous efforçons d'innover constamment pour offrir à nos clients les meilleures solutions de location possible.</p>
    </div>
    <div class="task">
      <h2>Notre Engagement</h2>
      <p>Nous nous engageons à fournir à nos clients une expérience de location sans souci, avec une gamme variée de véhicules de qualité, une réservation simple et transparente, ainsi qu'un service clientèle réactif et professionnel. Chez CAMauto, votre satisfaction est notre priorité absolue.</p>
    </div>
  </div>



